@font-face {
    font-family: 'chateau_de_garage';
    src: url(../fonts/ChateaudeGarage.ttf);
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  text-align: center;
  font-weight: lighter;
  padding: 0;
  font-family: "Droid Serif","Helvetica Neue", Helvetica, Arial, sans-serif;
}
article,
footer,
header,
nav,
section {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
nav {
  font-family: chateau_de_garage;
}
header {
  height: 420px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../assets/background_header.jpg)
}
#headFAQ {
  height: 420px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../assets/background_header.jpg)
}
footer {
  line-height: 40px;
  padding: 30px 0;
  background-color: lightgray;
  font-family: chateau_de_garage;
}
section, article {
  padding: 100px 0;
}
section h2.section-heading,
article h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading,
article h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
.mainHead {
  margin-top: 100px;
  font-size: 6em;
}
.mainFAQ {
  margin-top: 150px;
  font-size: 6em;
}
.text-center {
  text-align: center;
}
.text-muted {
  color: #777777;
}
#why, #who{
  background-color: lightgray;
}
#contact {
  background-color: #fed136;
}
.yellow {
  color: #fed136;
}
.black p {
  color: black;
  font-weight: bolder;
}
.small-heading {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: none;
}
.video {
  max-width: 560px;
  height: 315px;
}
.img {
  max-width: 350px;
  border-radius: 4px;
}
ul.list-inline {
  margin-bottom: 100px;
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}
ul.social-buttons li a {
  margin-bottom: 50px;
  display: inline-block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}
@media (min-width: 768px) {
  header {
      height: 100vh;
  }
  section,
  article {
    padding: 150px 0;
  }
  .mainHead {
  margin-top: 40vh;
  }
  .container {
    width: 750px;
  }
  .video {
    width: 560px;
  }
  .img {
    max-width: 100%;
  }
  .navbar {
    border-radius: 4px;
    position: relative;
    display: block;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-header {
      float: left;
  }
  .navbar-fixed-top {
    border-radius: 0;
  }
  .navbar-toggle {
    display:none;
  }
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    overflow: visible !important;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  transition: all 0.3s;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.navbar-default {
  background-color: transparent;
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  float: right;
  padding: 9px 10px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
  transition: all 0.3s;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.navbar-default .navbar-brand {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  
  color: #fed136;
  background-color: transparent;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 30px 15px 0 15px;
  font-size: 18px;
  line-height: 20px;
  transition: all 0.3s;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
.collapse {
  display: none;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}
.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  text-decoration: none !important;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  transition: all 0.3s;
}
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fed136;
  background-color: transparent;
}
@media (min-width: 768px) {
  .nav-active {
    color: #fed136;
    background-color: white;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
    list-style: none;
    margin-top: 20px;
    padding: 10px 0;
  }
  .navbar-right > li a {
    padding: 0 10px;
    text-decoration: none;
  }
}
.no_deco {
  color: black;
  text-decoration: none !important;
  transition: all 0.3s;
}
.no_deco:hover {
  color: #fed136;
}
.no_deco_white {
  color: black;
  text-decoration: none !important;
  transition: all 0.3s;
}
.no_deco_white:hover {
  color: white;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
    padding: 0;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.container:before,
.container:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}
.container:after,
.nav:after,
.navbar:after,
.navbar-header:after {
  clear: both;
}